:root {
  --clr-dark: #070a13,
  --clr-light: #f1f5f9;
}

card {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #31033f; 
}
input [type=text] {
  border: 2px solid rgb(246, 243, 246);
  border: radius 4px;
}
#control-panel-wrapper {
  height: 10%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#control-panel {
  flex: 0 0 auto;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
}
#board {
  flex: 1;
  height: var(--content-height);
  border:  3px solid rgb(56, 2, 98);
  position: relative;
  overflow: auto;
}



}

links
ul{
  font-family: 'Lucida Sans';
  text-align: justify;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 100px;
}


main {
  height: var(--content-height);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

button {
  cursor: pointer;
  background-color: #5705bc; 
  max-width: 100px;
  max-height: 200px;
}
input,button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

p{
  font-family: 'Lucida Sans';
  text-align: justify;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#experience-panel input[type="text"] {
  background-color: #f0f0f0;
  color: black;
}

h2{
    font-family: 'Lucida Sans';
    text-align: justify;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #35023c;
    margin-left: 5px;
    text: size 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #eb09f7;
  color: #fff;
}
